header.header
    .container
        h1 Фронт-энд разработчик
            span Мария Передрий
        .header__photo
            img(src="images/myphoto.jpg", alt="Мария Передрий")
        .header__info Живу в Минске. Закончила БГУИР. Несколько лет занимаюсь вёрсткой сайтов, теперь хочу углубиться в разработку и стать полноценным фронт-энд разработчиком.

