head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no")

    title Мария Передрий — портфолио
    meta(name="description", content="Портфолио для ШРИ 2018")

    link(rel="stylesheet", href="css/gallery.min.css")
    link(rel="stylesheet", href="css/gallery.theme.css")
    link(rel="stylesheet", href="css/style.css")
