header.header
    .container
        h1 Фронт-энд разработчик
            span Мария Передрий
        .header__photo
            img(src="images/myphoto-sm.jpg", srcset="images/myphoto.jpg 1024w", alt="Мария Передрий")
        .header__info Живу в&nbsp;Минске. Закончила БГУИР. Несколько лет занимаюсь вёрсткой сайтов, теперь хочу углубиться в&nbsp;разработку и&nbsp;стать полноценным фронт-энд разработчиком.

